<div class="controls">
    <div class="button-group">
        <button class="action-button" (click)="toggleSection('styles')">Styles</button>
        <button class="action-button" (click)="toggleSection('players')">Players</button>
    </div>
    @if (currentSection === 'styles') {
    <label for="team-title">TITLE</label>
    <input type="text" id="team-title" [(ngModel)]="teamTitle" placeholder="Enter a team title" />
    <label for="formation-select">FORMATION (or drag and drop players)</label>
    <select id="formation-select" (change)="onFormationChange($event)">
        @for (formation of availableFormations; track $index) {
        <option [value]="formation">{{ formation }}</option>
        }
    </select>
    <label for="color-picker">UNIFORM COLOR</label>
    <input type="color" id="color-picker" [(ngModel)]="teamColor" (change)="onColorChange()" />
    <div class="checkbox-group">
        <label>
            <input type="checkbox" [(ngModel)]="showPosition" />
            Show Position
        </label>
        <br>
        <label>
            <input type="checkbox" [(ngModel)]="showBackNumber" />
            Show Back Number
        </label>
        <br>
        <label>
            <input type="checkbox" [(ngModel)]="showText" />
            Don't Show Text
        </label>
    </div>
    }
    @if (currentSection === 'players') {
    <div class="player-list">
        <div class="player">
            <label for="player-number">Player Number:</label>
            <input type="number" id="player-number" [(ngModel)]="newPlayerNumber" placeholder="Enter player number" />
        </div>
        <div class="player">
            <label for="player-name">Player Name:</label>
            <input type="text" id="player-name" [(ngModel)]="newPlayerName" placeholder="Enter player name" />
        </div>
    </div>
    <button (click)="addPlayer()">Add Player</button>
    <div class="sub-player-list">
        <div class="sub-player">
            <label for="sub-player-name">Sub-Player Name:</label>
            <input type="text" id="sub-player-name" [(ngModel)]="newSubPlayerName"
                placeholder="Enter sub-player name" />
        </div>
    </div>
    <button (click)="addSubPlayer()">Add Sub-Player</button>
    }

    @if (players.length > 0) {
    <div>
        <h3>Players List:</h3>
        <ul>
            @for (player of players; track $index) {
            <li>{{ player.number }} - {{ player.name }}</li>
            }
        </ul>
    </div>
    }
    @if (subplayers.length > 0) {
    <div>
        <h3>Sub Players List:</h3>
        <ul>
            @for (player of subplayers; track $index) {
            <li>{{ player.name }}</li>
            }
        </ul>
    </div>
    }

    <div class="formation-image" [ngStyle]="{ 'background-image': backgroundImage() }">
        @if (showPosition) {
        <!-- add logic to show position of each  player-->
        <div></div>
        }
        @if (showBackNumber) {
        <div></div>
        <!-- add logic for showing back number -->
        }
        @if (showText) {
        <!-- add logic for showing back number -->
        <div></div>
        }
    </div>
</div>