/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: Radikal;
  src: url(assets/images/font/Radikal/Nootype\ -\ Radikal\ Medium.otf); 
  font-weight: 400;
}
@font-face {
  font-family: Radikal;
  src: url(assets/images/font/Radikal/Nootype\ -\ Radikal\ Light.otf); 
  font-weight: 200;
}
html,
body {
  background-color: #38003C;
}

.saved-formation-container {
  color: #38003C;
  background-color: #f0f0f0;
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  overflow: hidden;
}


body {
  margin: 0;
  font-family: Radikal;
  font-weight: 400;
}

* {
  font-family: Radikal;
  font-weight: 200;
}
