<nav class="navbar">
  <img src="/assets/images/soccer_ball_logo.png" alt="Soccer Ball Logo">
  <ul class="nav-links">
    <li><button class="action-button" routerLink="/create-formation">Create Formation</button></li>
    <li><button class="action-button" routerLink="/saved-formations">Saved Formations</button></li>
  </ul>
</nav>
<div class="saved-formation-container">
  <h2>Lineup Name</h2>
  <h3>Created on 12/4/2024</h3>
  <hr>
  @for (team of teamService.teams$ | async; track team) {
  <ul>
    <li>{{ team.teamTitle }} - {{ team.formation }} - {{ team.playerName }} - {{ team.playerNumber }} - {{
      team.playerPosition }}</li>
  </ul>
  }
</div>