<nav class="navbar">
  <img src="/assets/images/soccer_ball_logo.png" alt="Soccer Ball Logo">
  <ul class="nav-links">
    <li><button class="action-button" routerLink="/create-formation">Create Formation</button></li>
    <li><button class="action-button" routerLink="/saved-formations">Saved Formations</button></li>
  </ul>
</nav>
<div class="saved-formation-container">
  <h2>Saved teams and formations</h2>
  <div class="teams-cardlist">
    @for (team of groupedTeams; track team) {
    @for (formation of team.formations; track formation) {
    <mat-card class="team-cards" appearance="outlined">
      <mat-card-title>{{ team.teamTitle }} </mat-card-title>
      <mat-card-subtitle>
        Formation: {{ formation.name }}<br>
        Created on: {{ formation.timestamp.toDate() | date:'mediumDate' }}
      </mat-card-subtitle>
      <img [src]="backgroundImage(formation.name)">

      <table>
        <thead>
          <tr>
            <th>Number</th>
            <th>Name</th>
            <th>Position</th>
          </tr>
        </thead>
        <tbody>
          @for (player of formation.players; track player) {
          <tr>
            <td>{{ player.playerNumber }}</td>
            <td>{{ player.playerName }}</td>
            <td>{{ player.playerPosition }}</td>
          </tr>
          }
        </tbody>
      </table>
    </mat-card>
    }
    }
  </div>
</div>