<nav class="navbar">
  <img src="/assets/images/soccer_ball_logo.png" alt="Soccer Ball Logo">
  <ul class="nav-links">
    <li><button class="action-button" routerLink="/create-formation">Create Formation</button></li>
    <li><button class="action-button" routerLink="/saved-formations">Saved Formations</button></li>
  </ul>
</nav>
<div class="saved-formation-container">
  <h2>Saved teams and formations</h2>
  <div class="teams-cardlist">
    @for (team of groupedTeams; track team) {
    @for (formation of team.formations; track formation) {
    <mat-card class="team-cards" appearance="outlined">
      <mat-card-title>{{ team.teamTitle }} </mat-card-title>
      <mat-card-subtitle>
        Formation: {{ formation.name }}<br>
        Created on: {{ formation.timestamp.toDate() | date:'mediumDate' }}
      </mat-card-subtitle>
      @for (player of formation.players; track player) { <ul>
        <li>{{ player.playerNumber}} - {{ player.playerName }} - {{ player.playerPosition }}</li>
      </ul>
      }
    </mat-card>
    }
    }
  </div>
</div>