.navbar {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 0.1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.navbar img {
  height: 40px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  padding: 0;
}

.nav-links li {
  display: inline;
}

.action-button {
  background-color: transparent;
  color: #00FF85;
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.action-button:hover {
  background-color: rgba(0, 255, 133, 0.1);
  color: #04F5FF;
}

.saved-formation-container h2{
  margin: 15px;
}
.saved-formation-container h3 {
  border-bottom: 2px solid #38003C;
  padding-bottom: 10px;
  margin: 0;
}


@media (max-width: 600px) {
  .navbar {
    padding: 1rem;
  }

  .action-button {
    width: 90%;
  }

  .nav-links {
    gap: 1rem;
  }
}