.navbar {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 0.1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.navbar img {
  height: 40px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  padding: 0;
}

.nav-links li {
  display: inline;

}
ul {
  list-style: none;
  font-family: Radikal;
}

.action-button {
  background-color: transparent;
  color: #00FF85;
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.action-button:hover {
  background-color: rgba(0, 255, 133, 0.1);
  color: #04F5FF;
}

.saved-formation-container h2 {
  margin: 15px;
}

.teams-cardlist {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  overflow-y: auto;
  padding: 16px;
  width: 95%;
}

.team-cards {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

img{
  height: 40%;
  object-fit: contain;
}

mat-card-title,mat-card-subtitle {
  font-family: Radikal;
  font-weight: 400;
  color:#38003C;
}

table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
thead {
  background-color: #f2f2f2;
  font-weight: bold;
}


@media (max-width: 800px) {
  .teams-cardlist{
    grid-template-columns: repeat(1, 1fr);


  }
  .navbar {
    padding: 1rem;
  }

  .action-button {
    width: 90%;
  }

  .nav-links {
    gap: 1rem;
  }
}