<nav class="navbar">
  <img src="/assets/images/soccer_ball_logo.png" alt="Soccer Ball Logo">
  <ul class="nav-links">
    <li><button class="action-button" routerLink="/create-formation">Create Formation</button></li>
    <li><button class="action-button" routerLink="/saved-formations">Saved Formations</button></li>
  </ul>
</nav>

<div class="container">
  <div class="left-column">
    <div class="control-box">
      <div class="controls">
        <div class="button-group">
          <button class="players-button" (click)="toggleSection('styles')">Styles</button>
          <button class="players-button" (click)="toggleSection('players')">Players</button>
        </div>
        <hr class="separator" />

        @if (currentSection === 'styles') {
        <label for="team-title">TITLE</label>
        <input type="text" id="team-title" [(ngModel)]="teamTitle" (ngModelChange)="onTeamTitleChange(teamTitle)"
          placeholder="Enter a team title" />
        <label for="formation-select">FORMATION</label>
        <select id="formation-select" [(ngModel)]="currentFormation" (change)="onFormationChange($event)">
          @for (formation of availableFormations; track $index) {
          <option [value]="formation">{{ formation }}</option>
          }
        </select>
        }
        @if (currentSection === 'players') {
        <div class="player-list">
          <div class="player">
            <label for="player-name">Player Name:</label>
            <input type="text" id="player-name" [(ngModel)]="PlayerName" placeholder="Enter player name" />
          </div>
          <div class="player">
            <label for="player-number">Player Number:</label>
            <input type="number" id="player-number" [(ngModel)]="PlayerNumber" placeholder="Enter player #" />
          </div>
          <div class="player">
            <label for="player-position">Player Position:</label>
            <input type="text" id="player-position" [(ngModel)]="PlayerPosition" placeholder="Enter player Position" />
          </div>
        </div>
        <button class="add-button" (click)="addPlayer()">Add Player</button>
        <div class="sub-player-list">
          <div class="sub-player">
            <label for="sub-player-name">Sub-Player Name:</label>
            <input type="text" id="sub-player-name" [(ngModel)]="SubPlayerName" placeholder="Enter sub-player name" />
          </div>
          <div class="sub-player">
            <label for="sub-player-number">Sub-Player Number:</label>
            <input type="number" id="sub-player-Number" [(ngModel)]="SubPlayerNumber"
              placeholder="Enter sub-player #" />
          </div>
        </div>
        <button class="add-button" (click)="addSubPlayer()">Add Sub-Player</button>
        }
      </div>
      @if (currentSection === 'players') {
      <button class="add-button" (click)="submitTeam()">Submit Team</button>
      }
    </div>
  </div>
  <div class="center-column">
    <div class="formation-image" [ngStyle]="{ 'background-image': backgroundImage() }">
    </div>
  </div>
  <div class="right-column">
    @if (players.length > 0) {
    <div>
      <h3>Players List:</h3>
      <ul>
        @for (player of players; track $index) {
        <li>
          {{ player.number }} - {{ player.name }} ({{ player.position }})
          <button (click)="deletePlayer(player)">Delete</button>
        </li>
        }
      </ul>
    </div>
    }
    @if (subNames.length > 0) {
    <div>
      <h3>Sub Players List:</h3>
      <ul>
        @for (subPlayer of subNames; track $index) {
        <li>{{ subPlayer.number }} - {{ subPlayer.name }} </li>
        <button (click)="deletesubPlayer(subPlayer)">Delete</button>
        }
      </ul>
    </div>
    }

  </div>
</div>
<router-outlet></router-outlet>