.navbar {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #38003C;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.navbar img {
  height: 40px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline;
}

.action-button {
  background-color: transparent;
  color: #00FF85;
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.action-button:hover {
  background-color: rgba(0, 255, 133, 0.1);
  color: #04F5FF;
}

.control-box {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  width: 30%; /* Adjust width as needed */
  max-width: 1200px;
  margin-left: 0; /* Remove auto centering */
  margin-right: auto; /* Ensure it stays aligned to the left */
  float: left; /* Make sure the box floats to the left */
}

.players-button {
  background-color: white;
  color: black;
  font-size: 1.1rem;
  padding: 12px 24px;
  border: 2px solid black;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
  outline: none;
  margin-bottom: 1rem;
}

.players-button:hover {
  background-color: black;
  color: white;
}


@media (max-width: 600px) {
  .navbar {
    padding: 1rem;
  }

  .action-button {
    width: 90%;
  }

  .nav-links {
    gap: 1rem;
  }
}