.navbar {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.navbar img {
  height: 40px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  padding: 0;
}

.nav-links li {
  display: inline;
}

.action-button {
  background-color: transparent;
  color: #00FF85;
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.action-button:hover {
  background-color: rgba(0, 255, 133, 0.1);
  color: #04F5FF;
}

.control-box {
  background-color: #f0f0f0;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 60%;
  height: fit-content;
  margin-left: 0;
  margin-right: auto;

}

.players-button {
  background-color: white;
  color: black;
  font-size: 1.1rem;
  padding: 12px 24px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
  outline: none;
}

.players-button:hover {
  background-color: black;
  color: white;
}

.players-button:focus-within {
  background-color: black;
  color: white;
}

.button-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}

hr {
  margin: 20px;
  margin-bottom: 50px;
  height: 2px;
  border: none;
  background-color: #000;
}

.controls label {
  display: block;
  margin: 20px;
  size: 500px;
  font-weight: bold;
}

.controls input {
  border: none;
  border-radius: 25px;
  padding: 10px;
  width: 80%;
}

.controls select {
  border: none;
  border-radius: 25px;
  padding: 10px;
  width: 80%;
}

.add-button {
  background-color: white;
  color: black;
  font-size: 15px;
  padding: 5px 24px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
  outline: none;
  margin-top: 15px;

}

.add-button:hover {
  background-color: #38003C;
  color: #00FF85;
}

.container {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.left-column {
  flex: 0 0 30%;
  /* Set the left column to 30% width */
}

.right-column {
  flex: 1;
  /* Allow the right column to take the remaining space */
}

.formation-image {
  flex: 1;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 60%;
  height: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  .left-column {
    flex-basis: auto;
    margin-right: 0;
  }

  .right-column {
    height: 400px;
  }

  .action-button {
    width: 90%;
  }

  .nav-links {
    gap: 1rem;
  }
}